@import "~normalize.css";
@import "./_variables";
@import "./_form";

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  outline-style: none;
  padding: 0;
}

html {
  font-size: calc(13px + 0.5vw);
  height: 100%;
}

body {
  background-color: $app-background-color;
  color: $app-foreground-color;
  font-family: $app-font-family;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
  }
}
